body {
	font-family: 'Play', sans-serif;
	margin: 0px auto;
	background-color: #FBE9E7;
	background-position: center center;
	position: center center;
	text-align: center;
}

header {
	
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e00003+23,d8801c+100&amp;0.9+0,0.9+100 */
		background-color: #FF5722;

	font-family: 'Press Start 2P', cursive;
	color: #00ffe9;
	min-height: 100px;
	font-size: 100px;
} 

a:link, a:visited{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

a:hover {
	color: #000000;
	background-color: #db923a;
	text-decoration: none;
}