body {
	font-family: 'Play', sans-serif;
	margin: 0px auto;
	background: #FBE9E7;
	background-position: center center;
	position: center center;
	text-align: center;
}

#topbar {
	background: #FF5722;
	font-family: 'Press Start 2P', cursive;
	color: #00ffe9;
	height: 100px;
	font-size: 100px;
	border-style: inset;
	border-width: 0px 0px 1px 0px;
	border-color: #9E9E9E; 
} 


a:link, a:visited{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

a:hover {
	color: #000000;
	background-color: #db923a;
	text-decoration: none;
}

#menuButton1 { 
	float:left; 
	margin:15px 0px 0px 20px; 
	padding: 10px;
	background-color: none;
}

#menu {
	position: absolute;
	left: 0px;
	background: #FF8A65;
	width: 140px;
	height: 100%;
	padding: 5px 5px 5px;
	transform-origin: 0% 0%;
	transform: perspective(0px) rotateY(90deg);
	transition: transform .3s linear 0s;
	box-shadow: 20px 20px 20px #FFCCBC;
	border-style: groove;
	border-width: 0px 1px 0px 0px;
	border-color: #FFCCBC; 
}

#menu > a {
	display: block;
	text-decoration: none;
	color: #FBE9E7;
	background:#DD2C00;
	margin: 1px;
	font-size: 13px;
	transition: background 0.2s linear 0s, color 0.2s linear 0s;
}
#menu > a:hover { background:#888; color:#FFF; }